<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
</head>
<div>
    <h1>Agregar nuevo producto</h1>
    <form id="addProductForm" method="POST" action="/api/products">
        <div class="form-group">
            <label for="title">Título del Producto</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <div class="form-control" >
            <label for="category">Categoría</label>
            <select id="category" name="category" required>
                <option value="" selected disabled>Seleccione una categoría</option>
                <option value="casillas-camas">Casillas-Camas</option>
                <option value="arnes-collares-correas">Arnes-Collares-Correas</option>
                <option value="bebederos-comederos">Bebederos-Comederos</option>
            </select>
        </divclass=>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="thumbnails">Imagen</label>
            <input type="url" class="form-control" id="thumbnails" name="thumbnails" required>
        </div>
        <div class="form-group">
            <label for="code">Código del Producto</label>
            <input type="text" class="form-control" id="code" name="code" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock" required>
        </div>
        <div class="form-group">
            <label for="status">Estado</label>
            <select class="form-control" id="status" name="status" required>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="owner">Owner</label>
            <input type="email" class="form-control" id="owner" name="owner" value="{{userEmail}}" disabled>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Agregar Producto!</button>
    </form>
</div>
<script src="/js/addProductDB.js"></script>
