<div class="container">
    <h1>Eliminar producto</h1>
    <form id="delProductsForm">
        <div class="form-group">
            <label for="pid">ID del Producto:</label>
            <input type="text" class="form-control" id="pid" name="pid" required>
        </div>
        <button type="submit">Eliminar producto</button>
    </form>
</div>

<script src="/js/delProducts.js"></script>