<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado</title>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                window.location.href = '/login';
            }, 5000);
        });
    </script>
</head>
<body>
    <h1>Se ha enviado un correo para restablecer tu contraseña.</h1>
    <p>Puede encontrarse en la carpeta Spam.</p>
    <p>Serás redirigido automáticamente a la página de inicio de sesión.</p>
</body>
</html>
