<div>
    <input type="text" name="title" id="title" placeholder="Titulo">
    <input type="text" name="description" id="description" placeholder="Descripcion">
    <input type="number" name="code" id="code" placeholder="Codigo">
    <input type="number" name="price" id="price" placeholder="Precio">
    <input name="status" id="status" placeholder="Status">
    <input type="number" name="stock" id="stock" placeholder="Stock">
    <input type="text" name="category" id="category" placeholder="Categoria">
    <input name="thumbnails" id="thumbnails" placeholder="Imagenes">
    <button type="button" id="btnSend">Subir producto</button>
</div>
<div id="productList"></div>

<script src="/js/realTimeProducts.js"></script>